<div data-recipe-id="<%= recipe.id %>">
  <p><%= recipe.get("title") %></p>
  <img src="<%= recipe.get('photo_url')%>">
  <p><%= recipe.get("description")%></p>
  
  <% var favorites = recipe.get("favorites") %>
  <% var currUser = FoodgawkerApp.Data.currentUser %>
  <% if(currUser && favorites && favorites.findWhere({ user_id: currUser.id })) { %>
     <button id="unfavorite" data-recipe-id="<%= recipe.id %>">Unfavorite</button> 
  <% } else { %>
    <button id="favorite" data-recipe-id="<%= recipe.id %>">Favorite</button>
  <% } %>
</div>