<div class="col-sm-4" data-recipe-id="<%= recipe.id %>">
  <center><h4><%= recipe.get("title").toUpperCase() %></h4></center>
  <img data-recipe-id="<%= recipe.id %>" class="img-circle small" src="<%= recipe.get('med_photo_url')%>">
  <p><%= recipe.get("description")%></p>
  
  <% var favorites = recipe.get("favorites") %>
  <% var currUser = FoodgawkerApp.Data.currentUser %>
  
  
  <% if(currUser.id) { %>
    <% if(favorites && favorites.findWhere({ user_id: currUser.id })) { %>
       <button class="btn btn-primary btn-sm" id="unfavorite" data-recipe-id="<%= recipe.id %>">Unfavorite</button> 
    <% } else { %>
      <button class="btn btn-primary btn-sm" id="favorite" data-recipe-id="<%= recipe.id %>">Favorite</button>
    <% } %>
  <% } else { %>
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#signInModal">Favorite</button> 
  <% }%>
</div>

<div class="modal fade" id="recipeModal<%= recipe.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <center><h4 class="modal-title" id="myModalLabel"><%= recipe.get("title").toUpperCase() %></h4></center>
      </div>
      <div class="modal-body">
        
        <center><a href="<%= recipe.get('blog_url') %>"><img class="large" src="<%= recipe.get('large_photo_url')%>"></a></center>
        <br>
        <p><%= recipe.get("description")%></p>
        <p>Total Time: <%= recipe.get("total_time") %> minutes</p>
        <p>Ingredients: <%= recipe.get("ingredients") %></p>
      </div>
      <div class="modal-footer">
        <% var favorites = recipe.get("favorites") %>
        <% var currUser = FoodgawkerApp.Data.currentUser %>
        <% if(currUser.id) { %>
          <% if(favorites && favorites.findWhere({ user_id: currUser.id })) { %>
             <button type="button" id="unfavorite" data-recipe-id="<%= recipe.id %>" data-dismiss="modal">Unfavorite</button> 
          <% } else { %>
            <button type="button" id="favorite" data-recipe-id="<%= recipe.id %>" data-dismiss="modal">Favorite</button>
          <% } %>
        <% } %>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->