<h1><%= recipe.get("title") %></h1>
<br>
<img class="large" src="<%= recipe.get('large_photo_url')%>">

<p>Description: <%= recipe.get("description") %></p>
<p>Total Time: <%= recipe.get("total_time") %></p>
<p>Blog link: <%= recipe.get("blog_url")%></p>
<p>Added by: <%= recipe.get("username") %></p>

<% if (recipe.get("favorites").length < 1 ) { %>
  <button id="favorite" data-recipe-id="<%= recipe.id %>">Favorite</button>
<% } else { %>
  <button id="unfavorite" data-recipe-id="<%= recipe.id %>">Unfavorite</button> 
<% } %>

<ul>
<% recipe.get("categories").forEach(function(category) { %>
  <li><%= category.name %></li>
<% }) %>
</ul>

<div id="side-bar">
  
</div>
