<div class="row">

  <div class="col-md-8">
    <h1 id="show-title"><%= recipe.get("title").toUpperCase()%></h1>
    <div id="arrows">
      <button id="prev-btn" class="arrow-btn signout"><span class="glyphicon glyphicon-chevron-left"></span></button>
    </div>
    <img class="large shadow img-rounded" src="<%= recipe.get('large_photo_url')%>">
    <div id="arrows">
      <button id="next-btn" class="arrow-btn signout"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
    <br>
    <br>
    <p class="detail-text"><b>Total Time:</b> <%= recipe.get("total_time") %> minutes</p>
    <p class="detail-text"><b>Ingredients: </b><%= recipe.get("ingredients") %></p>
    <p class="detail-text"><%= recipe.get("description") %></p>
    <p class="detail-text"><b><a target="_blank" href="<%= recipe.get("blog_url")%>">Full recipe</a></b></p>
      
      <% var favorites = recipe.get("favorites") %>
      <% var currUser = FoodgawkerApp.Data.currentUser %>
    <% if(currUser.id) { %>
      <% if(favorites && favorites.findWhere({ user_id: currUser.id })) { %>
         <button class="btn btn-primary btn-sm" id="unfavorite" data-recipe-id="<%= recipe.id %>"><span class="glyphicon glyphicon-heart"></span></button> 
      <% } else { %>
        <button class="btn btn-primary btn-sm" id="favorite" data-recipe-id="<%= recipe.id %>"><span class="glyphicon glyphicon-heart-empty"></span></button>
      <% } %>
      <button class="btn btn-primary btn-sm" data-recipe-id="<%= recipe.id %>" id="share"><span class="glyphicon glyphicon-send"></span></button><h6 id="email-tooltip">Email this recipe to yourself!</h6><h6 id="email-text">Recipe was sent to your email!</h6>
    <% } else { %>
      <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#signInModal"><span class="glyphicon glyphicon-heart-empty"></span></button>
      <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#signInModal" data-recipe-id="<%= recipe.id %>" id="signedout-share"><span class="glyphicon glyphicon-send"></span></button><h6 id="email-tooltip">Email this recipe to yourself!</h6>
    <% }%>
  </div>

  <div id="side-bar" class="col-md-4">
    <center><h3>peep these tasty recipes</h3></center>
    <div class="row" id="row1">
      <div class="col-md-6">
        <a href="#recipes/<%= relatedRecipes[0].id %>" class="thumbnail">
          <img src="<%= relatedRecipes[0].get('med_photo_url') %>">
        </a>
      </div>
      <div class="col-md-6">
        <a href="#recipes/<%= relatedRecipes[1].id %>" class="thumbnail">
          <img src="<%= relatedRecipes[1].get('med_photo_url') %>">
        </a>
      </div>
    </div>
    
    <div class="row" id="row2">
      <div class="col-md-6">
        <a href="#recipes/<%= relatedRecipes[2].id %>" class="thumbnail">
          <img src="<%= relatedRecipes[2].get('med_photo_url') %>">
        </a>
      </div>
      <div class="col-md-6">
        <a href="#recipes/<%= relatedRecipes[3].id %>" class="thumbnail">
          <img src="<%= relatedRecipes[3].get('med_photo_url') %>">
        </a>
      </div>
    </div>
    
    <div class="row" id="row3">
      <div class="col-md-6">
        <a href="#recipes/<%= relatedRecipes[4].id %>" class="thumbnail">
          <img src="<%= relatedRecipes[4].get('med_photo_url') %>">
        </a>
      </div>
      <div class="col-md-6">
        <a href="#recipes/<%= relatedRecipes[5].id %>" class="thumbnail">
          <img src="<%= relatedRecipes[5].get('med_photo_url') %>">
        </a>
      </div>
    </div>
    
  </div>
</div>