<h1><%= recipe.get("title") %></h1>
<br>
<img class="large" src="<%= recipe.get('large_photo_url')%>">

<p>Description: <%= recipe.get("description") %></p>
<p>Total Time: <%= recipe.get("total_time") %></p>
<p>Blog link: <%= recipe.get("blog_url")%></p>
<p>Added by: <%= recipe.get("username") %></p>

<% if (recipe.get("favorites").length < 1 ) { %>
  <button id="favorite" data-recipe-id="<%= recipe.id %>">Favorite</button>
<% } else { %>
  <button id="unfavorite" data-recipe-id="<%= recipe.id %>">Unfavorite</button> 
<% } %>

<ul>
<% recipe.get("categories").forEach(function(category) { %>
  <li><%= category.name %></li>
<% }) %>
</ul>

<!-- <div id="side-bar">    
  <div class="row" id="row1">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="<%= relatedRecipes[0]">
      </a>
    </div>
    ...
  </div>
  
  <div class="row" id="row2">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="...">
      </a>
    </div>
    ...
  </div>
  
  <div class="row" id="row3">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="...">
      </a>
    </div>
    ...
  </div>
  
  <% var colCount = 0 %>
  <% var rowCount = 0 %>
  <% relatedRecipes.each(function(recipe) { %>
    <% if(colCount < 2) { %>
      
    <% } %>
  <% })%>
</div> -->
